<!DOCTYPE html>
<html>
<head>
    <title>Initial Form</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'lir/initial.css' %}">
</head>
<body>
<div class="main">
    <a href="/lir/lab_manager_list/">List of all approved data</a>
    <div id="heading"><h2>LAB TEST REQUEST FORM</h2></div>
    {% for data in verified_data %}

    <div id="container">

        <form id="req-form" action="/lir/lab_manager/{{ data.id }}/"  method="post"> {% csrf_token %}
            <div>
                <label for="batch">Lab No</label>
                <input type="text" name="ref_no" placeholder="" value="{{ data.ref_no }}"/><br><br>
            </div>
            <div>
                <label for="duration">Date</label>
                <input type="date" name="date"  placeholder="" value="{{ data.date }}"/><br><br>
            </div>
            <div>

                <label for="product">Product Name </label>
                <!-- <input type="text" id="product"  placeholder="">
              -->
                <select name="product_name"><br><br>
                    {% for product in product_name %}
                    {% if data.product_name == product %}
                    <option value="{{ product.product_name}}" selected> {{ product.product_name }} </option>
                    {% else %}
                    <option value="{{ product.product_name }}">{{ product.product_name }}
                        {% endif %}
                        {% endfor %}
                </select><br><br>

            </div>

            <div>
                <label for="batch">Lot  Number</label>
                <input type="text" name="batch_number" placeholder="" value="{{ data.batch_number }}"/><br><br>
            </div>
            <div>
                <label for="s_time">Sampling Time</label>
                <input type="date" name="sampling_time"  placeholder="" value="{{ data.sampling_time  }}"/><br><br>

            </div>
            <div>
                <label for="lab_test">Lab Test No</label>
                <input type="text" name="lab_test_number"  placeholder="" value="{{ data.lab_test_number }}" /><br><br>
            </div>
            <div>

                <label for="s_time">Specimen Collecting Time</label>
                <input type="date" name="sample_receiving_time"  placeholder="" value="{{ data.sample_receiving_time  }}"/><br><br>
            </div>
            <div>
                <label for="s_src">Specimen Origin </label>
                <input type="text" name="sample_source"  placeholder="" value="{{ data.sample_source }}" /><br><br>
            </div>
            <!-- </div> -->
            <!--
            <div id="side_bar"> -->
            <div>
                <label for="tank_no">Tank No</label>
                <input type="text" name="tank_number" placeholder="" value="{{ data.tank_number }}" /><br><br>
            </div>
            <div>
                <label for="quantity">Volume</label>
                <input type="text" name="batch_quantity" placeholder="" value="{{ data.batch_quantity }}" /><br><br>
            </div>
            <div>


                <label for="r_time">Batch Release</label>
                <input type="date" name="releasing_time"  placeholder="" value="{{ data.releasing_time }}" /><br><br>
            </div>
            <div>
                <label for="f_no">Formulation No</label>
                <input type="text" name="formulation_number" placeholder="" value="{{ data.formulation_number }}" /><br><br>
            </div>
            <div>
                <label for="s_type">Specimen Type</label>
                <input type="text" name="sample_type" placeholder="" value="{{ data.sample_type }}" /><br><br>
            </div>
            <!--  </div> -->


            <div id="box">
                <div>
                    <label for="input">Action:</label>
                    <select name="permission_status">
                    <option value="Apr">Approved</option>
                    <option value="Rej">Reject</option>
                    </select>
                </div>
                <div>
                    <label>Comments:</label>
                    <textarea class="blurrable firstToFocus" rows="3" name="comments" cols="46" id="Remarks"></textarea>
                </div>

            </div>

                <div><button class="left waves-effect btn-flat brand-text submit-btn" type="submit">Save</button></div>
            <br/>

        </form>
    </div>
    {% endfor %}




    <!-- <button class="left waves-effect btn-flat brand-text submit-btn" type="submit">Save</button>
    <div><button class="left waves-effect btn-flat brand-text submit-btn" type="submit">Save</button></div> -->



</div>
<script src="{% static 'lir/initial.js' %}"></script>
</body>
</html>
