#footer{
	text-align: center;
	padding: 5px;
	 color: white;
	  font-family: 'Lobster', cursive;
	   font-size: 20px;
	    font-weight: normal;
	     line-height: 30px;
	      /*margin: 0 0 18px;*/
	      margin-top: 0px;
	      text-shadow: 1px 0 0 #fff;
	       background: black;
	       border-top: 1px solid black;
	      border-bottom: 1px solid black;
           border-left: 1px solid black;
           border-right: 1px solid black;

           

 }
