*{
 	margin: 0px;
 	padding: 0px;

 }

 
 body{
    font-family: Arial;
    font-size: 14px;
    line-height: 20px;
    color: black;
    width: 100%;
    background-color:white;
    border:2px solid white;

 }
 #main{
    width: 100%;
    display: block;
    overflow: hidden;

   
}
